<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TRAIN TRACK</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">

      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" >TRAIN TRACK</a>
      </div>
         

    </nav>
    <section class="portfolio" id="portfolio">
      <div class="container">
        <br/>
        <br/>
        <h2 class="text-center text-uppercase text-secondary mb-0">GEO VISUALIZATION</h2>
        <hr class="star-dark mb-5">
		    <iframe src="https://01f955fa6bd7281a9a50622167a310b5.eu-west-1.aws.found.io:9243/app/kibana#/dashboard/824ffaa0-65ac-11e8-aca9-138b7b19b6ce?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(mapCenter:!(54.77534585936449,-1.1755371093750002),mapZoom:6),gridData:(h:3,i:'1',w:6,x:0,y:0),id:'814b19c0-6528-11e8-aca9-138b7b19b6ce',panelIndex:'1',type:visualization,version:'6.2.4')),query:(language:lucene,query:''),timeRestore:!f,title:Geo,viewMode:view)" height="750" width="1000"></iframe>
 </div>
</section>
    </body>

</html>
 